* {
    font-family: sans-serif;
    padding: 10px;
    background: beige;
}

#output {
    display:none;
}

button {
    background: yellow;
    color: black;
    align-self: center;
}

h1 {
text-align: center;
}

table{
    align-content: center;
}

body{
    background: beige;
}

tr{
    width: 100%;
    align-self: center;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
